<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<parameter name="username" value="tomsmith"/>
<parameter name="password" value="SuperSecretPassword!"/>
  <test thread-count="5" name="Test">
  
  
    <classes>
      
      <class name="TestNGScripts.DataParam"/>
      <class name="TestNGScripts.GooglePageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
